hLFLtcmF0CrBygEL-My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -48
      ],
      "id": "15b09b41-6904-4d02-82f3-c8794035b2a5",
      "name": "When chat message received",
      "webhookId": "6d6b5ef1-048a-443c-96cd-f611f8effc0e"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -48
      ],
      "id": "53424d0f-1a77-4bf2-b6bd-d852947f1636",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        160
      ],
      "id": "d66b60e4-3a20-463b-886c-feef8355d2ca",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EELpMoEae6hT0JJd",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"post\": {\n      \"type\": \"string\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        160
      ],
      "id": "35791e1b-be49-4959-87ad-5acc8b973e04",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map(item => {\n  if (item.json.output && item.json.output.post) {\n    // Remove all line breaks (escaped and real) with nothing (no space)\n    item.json.output.post = item.json.output.post\n      .replace(/\\\\n/g, \"\")\n      .replace(/\\n/g, \"\");\n  }\n  return item;\n});\n\nreturn updatedItems;\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -48
      ],
      "id": "6307af21-fb1d-457e-969a-f1be35b5e288",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -48
      ],
      "id": "b2bd2cdf-57f9-43e2-a731-70dec0db3baf",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IjsUOsN6ZaPw8oO4",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $json.sub }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $('Code').item.json.output.post }}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -48
      ],
      "id": "4edea0a4-0717-4fb3-a656-6e310619670e",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IjsUOsN6ZaPw8oO4",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "labbrac04@gmail.com",
        "subject": "Approval Required",
        "message": "={{ $('Code').item.json.output.post }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        -48
      ],
      "id": "06488084-9069-48c7-920f-81297b1fd741",
      "name": "Send a message",
      "webhookId": "fe00bded-d92a-4e4b-b7e0-b92587e38564",
      "credentials": {
        "gmailOAuth2": {
          "id": "2AP6Hx7cGpZfPVxy",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}